  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 2rem;
  box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
}

.nav_links {
  height: 6rem;
  display: flex;
  gap: 2rem;
  /* background-color: beige; */
  align-items: center;
} 

.nav_links li {
  height: 6rem;
  text-align: center;
  padding-top: 6%;
  list-style: none;
  border: 2px solid rebeccapurple;
  cursor: pointer;
}

input[type="search"] {
  width: 18rem;
  height: 2.5rem;
  border-radius: 0.8rem;
  border: 1px solid #ccc;
  padding: 0 1rem;
}

.button_div {
  display: flex;
  gap: 1rem;
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}


.dropdown ul {
  list-style: none;
  padding: 1rem;
}

.dropdown li {
  padding: 0.5rem 0;
}

.dropdown li a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 1rem;
}

.dropdown li a:hover {
  color: #007bff;
}

#boxxx{
  display: none;
  position: absolute;
  top: 6rem;
  left: 5rem; 
  background-color: antiquewhite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#boxxx{
  width: 50rem;
  height: 30rem;
  display: none;
}